// Backgrounds
$bg-page: #111;
$bg-area: #282828;
$bg-element: #333;
$bg-accent: #004d4d;
$bg-accent-light: #009999;
$bg-accent-bright: #00b3b3;

// Text
$text-dark: #666;
$text-faint: #888;
$text-dim: #999;
$text-normal: #bbb;
$text-light: #ddd;
$text-bright: #eee; 
$text-accent: #00cccc;
$text-accent-dim: #00b3b3;

// Shadows
$shadow-dark: #111;
$shadow-bright: #333;

// Borders
$border-dark: #333;
$border-normal: #444;
$border-bright: #999;
$border-accent: #004d4d;
$border-accent-light: #009999;
$border-accent-bright: #00b3b3;
