<!-- Image Name & Actions Panel -->
<div class="image-panel">

  <!-- Previous Image Button -->
  <app-control-button
    class="accent-text image-change-button"
    text="&#9664;"
    textAfter="{{previousIndex()}}"
    (click)="selectPreviousImage()"
  />

  <!-- Name -->
  <div class="image-name">
    @if (isOverlay() && !isDesktopSmall) {
      <span>{{gallery().name.full}} &#9656; </span>
    }
    <span>Image {{imageIndex()}}</span>
  </div>
  
  <div class="button-wrapper">

    <!-- Full Size Button -->
    <a href="./img/{{image().path}}" target="_blank">
      <app-control-button
        class="no-margin"
        icon="new-tab-icon.webp"
        text="Full Size"
        [label]="isDesktopSmall ? '' : '3840&hairsp;x&hairsp;2160'"
      />
    </a>

    <!-- Download Button -->
    <app-control-button
      class="no-margin"
      icon="download-icon.webp"
      text="Download"
      (click)="downloadImage('img/' + image().path)"
    />

    <!-- Next Image Button -->
    <app-control-button
      class="accent-text image-change-button button-content-right"
      text="&#9654;"
      textBefore="{{nextIndex()}}"
      (click)="selectNextImage()"
    />
  </div>

</div>

<!-- Image -->
<div class="image-container">
  @if (isLoading) {
    <img class="cogwheel" src="./ui/cogwheel.svg" alt="" />
  }
  <img 
    class="image-selected"
    [ngClass]="{
      'image-loading': isLoading,
      'overlay': isOverlay()
    }"
    src="./img/{{image().path}}"
    [alt]="imageName()"
    (load)="onImageLoad()"
    (click)="toggleOverlay()"
    (contextmenu)="$event.preventDefault()"
  />
</div>

<!-- Image Data -->
@if (showInfo) {
  <app-image-data [data]="image()" [galleryType]="gallery().type" [hasTabs]="true" />
}
