<!-- Group Header -->
<div class="group-header" (click)="toggleGroup()">
  @if (!isDesktop) {
    <span class="triangle">&#9654;</span>
    <span>{{group().name}}</span>
    <span class="label">{{label()}}</span>
  } @else {
    @if (group().path) {
      <a [routerLink]="group().path">{{group().name}}</a>
    } @else {
      <span>{{group().name}}</span>
    }
  }  
</div>

<!-- Group Body -->
<div class="group-body">
  @for (gallery of group().galleries; track $index) {
    <a [routerLink]="gallery.path">
      <app-control-button
        class="no-margin"
        routerLinkActive="selected"
        [text]="gallery.name.short"
        label="{{gallery.images.length}}"
      />
    </a>
  }
</div>