<!-- Tab Headers -->
<div class="tab-headers">
  @if (isDesktop()) {
    <div class="label">Sort by:</div>
  }
  @for (tab of tabs(); track tab.id) {
    <app-control-button
      class="navigation-tab-header"
      [text]="isMobile() ? tab.name.short : tab.name.full"
      [isSelected]="tab.id === selectedTab().id"
      (click)="selectTabByIndex($index)"
    />
  }
</div>

<!-- Selected Tab -->
<div class="tab-body">
  @if (isTablet() || (isDesktop() && selectedTab().isTwoColumnLayout)) {
    <!-- Two Column Layout -->
    @for (column of [].constructor(2); let $column = $index; track $index) {
      <div class="column">
        @for (group of selectedTab().galleryGroups; track group.id) {
          @if (($column && $odd) || (!$column && $even)) {
            <app-control-button-group
              [group]="group"
              [(isCollapsed)]="isCollapsed()[selectedTab().id][group.id]"
              [showImageCount]="selectedTab().showImageCount"
            />
          }
        }
      </div>
    }
  } @else {
    <!-- One Column Layout -->
    @for (group of selectedTab().galleryGroups; track group.id) {
      <app-control-button-group
        [group]="group"
        [(isCollapsed)]="isCollapsed()[selectedTab().id][group.id]"
        [showImageCount]="selectedTab().showImageCount"
      />
    }
  }
</div>
