<!-- Decorative Elements -->
<div class="top-left-corner"></div>
<div class="bottom-right-corner"></div>

<!-- Tab Layout -->
@if (hasTabs()) {

  <!-- Caption -->
  <div class="image-data-column">
    <div class="image-data-section">{{ data().caption }}</div>
  </div>

  <!-- Location, Time, Tags -->
  <div class="image-data-column">

    <!-- Tab Buttons -->
    <div class="image-data-controls">
      @for (tab of dataTabs(); track tab.id) {
        <app-control-button
          [text]="tab.name"
          [isSelected]="tab.id === dataTabs()[selectedTabIndex].id"
          (click)="selectDataTab($index)"
        />
      }
    </div>

    <!-- Data Blocks -->
    @for (tab of dataTabs(); track tab.id) {
      @if (tab.id === dataTabs()[selectedTabIndex].id) {
        <div class="image-data-section data-section-tab">
          @switch (tab.id) {
            @case (ImageDataTabId.location) {
              <ng-template
                [ngTemplateOutlet]="locationData"
                [ngTemplateOutletContext]="{ location: location() }"
              />
            }
            @case (ImageDataTabId.time) {
              <ng-template
                [ngTemplateOutlet]="timeData"
                [ngTemplateOutletContext]="{ data: time() }"
              />
            }
            @case (ImageDataTabId.tags) {
              <ng-template
                [ngTemplateOutlet]="tagsData"
                [ngTemplateOutletContext]="{ tags: tags() }"
              />
            }
          }
        </div>
      }
    }

  </div>

}

<!-- Simple Layout -->
@else {

  <!-- Caption -->
  @if (data().caption && showImageCaptions()) {
    <div class="image-data-section">{{ data().caption }}</div>
  }

  <!-- Data (Location, Time) -->
  @if (showImageData()) {

    <!-- Location -->
    @if (location(); as location) {
      <div class="image-data-section">
        <ng-template [ngTemplateOutlet]="locationData" [ngTemplateOutletContext]="{ location }" />
      </div>
    }

    <!-- Time -->
    @if (gallery().type !== GalleryType.month) {
      <div class="image-data-section">
        <ng-template [ngTemplateOutlet]="timeData" [ngTemplateOutletContext]="{ data: time() }" />
      </div>
    }

  }

  <!-- Tags -->
  @if (data().tags?.length && showImageTags()) {
    <div class="image-data-section">
      <ng-template [ngTemplateOutlet]="tagsData" [ngTemplateOutletContext]="{ tags: tags() }" />
    </div>
  }

}

<!-- Template: Location Data -->
<ng-template #locationData let-location="location">
  <div class="icon">
    <img [src]="locationIcon" alt="" />
  </div>
  <div>
    <span class="section-element">
      @if (location.nameURL === currentURL) {
        {{ location.name }}
      } @else {
        <a [routerLink]="location.nameURL">{{ location.name }}</a>
      }
    </span>
    @if (location.area) {
      <span class="section-element">
        @if (location.areaURL === currentURL) {
          {{ location.area }}
        } @else {
          <a [routerLink]="location.areaURL">{{ location.area }}</a>
        }
      </span>
    }
    @if (location.coordinates) {
      <span class="section-element coordinates">{{ location.coordinates }}</span>
    }
  </div>
</ng-template>

<!-- Template: Time Data -->
<ng-template #timeData let-data="data">
  <div class="icon">
    <img [src]="timeIcon" alt="" />
  </div>
  <div>
    <span class="section-element">
      <a [routerLink]="data.timeURL">{{ data.time }}</a>
    </span>
  </div>
</ng-template>

<!-- Template: Tags Data -->
<ng-template #tagsData let-tags="tags">
  <div class="icon">
    <img [src]="tagIcon" alt="" />
  </div>
  <div>
    @for (data of tags; track $index) {
      <span class="section-element">
        <span class="marker">&bull; </span>
        @if (data.tagURL === currentURL) {
          <span class="tag">{{ data.tag }}</span>
        } @else {
          <a class="tag" [routerLink]="data.tagURL">{{ data.tag }}</a>
        }
      </span>
    }
  </div>
</ng-template>
