@if (gallery.images.length) {

  <!-- Gallery -->
  @if (isDefaultMode()) {
    <app-default-mode-gallery [gallery]="gallery" [(selectedImage)]="selectedImage!" />
  } @else {
    <app-grid-mode-gallery [gallery]="gallery" [(selectedImage)]="selectedImage!" />
  }

  <!-- Overlay -->
  @if (isOverlayVisible()) {
    <div #scrollTarget class="overlay" (click)="toggleOverlay()">
      <app-selected-image
        [gallery]="gallery"
        [(image)]="selectedImage!"
        [isOverlay]="true"
        (click)="$event.stopPropagation()"
      />
    </div>
  }
  
  <!-- Scroll-to-Top Button -->
  <app-scroll-to-top />

} @else {

  <!-- Empty Gallery Placeholder -->
  <div class="placeholder">
    <div class="placeholder-text">Nothing to Display</div>
  </div>
}
